<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Modal Header</h4>
  </div>
  <div class="modal-body">
    <p>{{ctrl.member.id}}</p>
    <table class="table">

  <tbody>
    <tr>
      <th scope="row">First Name</th>
      <td>{{ctrl.member.fullname}}</td>

    </tr>
    <tr>
      <th scope="row">Account Number</th>
      <td>{{ctrl.member.accountnumber}}</td>

    </tr>
    <tr>
      <th scope="row">Community</th>
      <td>{{ctrl.member.community}}</td>

    </tr>
    <tr>
      <th scope="row">Contribution</th>
      <td>{{ctrl.member.contribution}}</td>

    </tr>
    <tr>
      <th scope="row">Category</th>
      <td>{{ctrl.member.categoryId}}</td>

    </tr>
    <tr>
      <th scope="row">Date Joined</th>
      <td>{{ctrl.member.created}}</td>

    </tr>
    <tr>
      <th scope="row">Mobile / Phone</th>
      <td>{{ctrl.member.phone}}</td>

    </tr>
    <tr>
      <th scope="row">Date Of Birth</th>
      <td>{{ctrl.member.birthday}}</td>

    </tr>
    <tr>
      <th scope="row">Gender</th>
      <td>{{ctrl.member.gender}}</td>

    </tr>
    <tr>
      <th scope="row">Status</th>
      <td>{{ctrl.member.status}}</td>

    </tr>
    <tr>
      <th scope="row">Nationality</th>
      <td>{{ctrl.member.nationality}}</td>

    </tr>
  </tbody>
</table>
  </div>

</div>
